mat-card,
mat-expansion-panel,
mat-chip {
  background-color: var(--card-background) !important;
}

.separator {
  flex: 1 1 auto;
}

.text-overflow {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}
