<expansion-overlay [useBaseComponentWidth]="true" [baseComponentHideRoundBorders]="true" verticalAlign="top" [pushMode]="true" [showBackdrop]="false">
  <!-- Este contenido se proyecta en el primer <ng-content> -->
  <div baseComponentPushTop>
    <!-- VALOR DE FORTALEZA DE LA CONTRASEÑA -->
    <mat-card matRipple>
      <mat-card-content class="password-strength-container">
        <mat-icon [class]="'strength-value ' + passwordStrength.value">
          {{ passwordStrength.icon }}
        </mat-icon>

        <div class="password-strength">
          <mat-label>Nivel de seguridad</mat-label>
          <mat-label class="strength-value">{{ passwordStrength.value }}</mat-label>
        </div>

        <span class="separator"></span>
        <mat-label mat-button class="show-details" color="primary">Detalles</mat-label>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Este contenido se proyecta en el segundo <ng-content> -->
  <div expansionComponent>
    <!-- PARÁMETROS DE LA CONTRASEÑA -->
    <div id="password-composition">
      <div *ngFor="let requirements of requirements">
        <!-- INDICA SI EL CARACTER YA ESTÁ INCLUIDO EN LA CONTRASEÑA -->
        <mat-icon [ngClass]="{ success: requirements.testSuccess, error: !requirements.testSuccess }">
          {{ requirements.testSuccess ? 'check' : 'close' }}
        </mat-icon>
        <!-- NOMBRE DEL CARACTER RECOMENDADO -->
        <mat-label [class.success]="requirements.testSuccess">{{ requirements.testName }}</mat-label>
      </div>
    </div>

    <!-- <div>
      <h3>{{ getTranslation('password_strength') }}</h3>
      <p>{{ getTranslation('password_composition') }}</p>
      <ul>
        <li>{{ getTranslation('password_composition_length') }}</li>
        <li>{{ getTranslation('password_composition_lowercase') }}</li>
        <li>{{ getTranslation('password_composition_uppercase') }}</li>
        <li>{{ getTranslation('password_composition_symbols') }}</li>
        <li>{{ getTranslation('password_composition_numbers') }}</li>
      </ul>
    </div> -->
  </div>
</expansion-overlay>
